{% extends 'base.html' %}

	{% block title %}
	{{category.name}}
	{% endblock %}


{% block content%}




		<div class="span9">
			<ul class="thumbnails listing-products">
				{% for product in products %}

				<li class="span3">
					<div class="product-box">
						<span class="sale_tag"></span>
						<a href="{{product.get_absolute_url}}"><img alt="" src="{{product.image.url}}"></a><br/>
						<a href="{{product.get_absolute_url}}" class="title">{{product.name}}</a><br/>
						<a href="#" class="category">{{product.category}}</a>
						<p class="price">${{product.price}}</p>
					</div>
				</li>
				{% endfor %}

			</ul>


			{% if is_paginated %}
			<div class="pagination pagination-small pagination-centered">
				<ul>
					<li class="{% if not prev_url %} disabled {% endif %}">
						<a href="{{prev_url}}" style="">Previous</a></li>

					{% for i in products.paginator.page_range %}
						{% if products.number == i %}
						<li class="active">
						<a href="?page={{i}}">{{i}}</a></li>

						{% elif i > products.number|add:-3 and i < products.number|add:3 %}<li>
						<a class="" href="?page={{i}}">{{i}}</a></li>

						{% endif %}
					{% endfor %}

					<li class="{% if not next_url %} disabled {% endif %}">
						<a href="{{next_url}}">Next</a></li>
				</ul>
			</div>
			{% endif %}
		</div>





{% endblock %}